/**
 * Copyright (c) 2019-2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Enhanced for HDK 4 by Tome, Inc.
 *
 * The following GPIO ports are wired to P6,
 * "LEDS" connector.
 * &pca9538a 6    // P6.23 LED_SPARE_1
 * &pca9538a 7    // P6.24 LED_SPARE_2
 * &pcs9538b 7    // P6.25 LED_SPARE_3
 *
 * These GPIO ports are wired to J6 (board underside).
 * &pca9538d 0    // J7.5 GPIO_EXP_P0
 * &pca9538d 1    // J7.6 GPIO_EXP_P1
 * &pca9538d 2    // J7.7 GPIO_EXP_P2
 */

#include "d2v_hdk4_cpuapp_common-pinctrl.dtsi"

/ {
	chosen {
		zephyr,console = &usb_serial_uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,bt-hci-rpmsg-ipc = &ipc0;
		zephyr,ieee802154 = &ieee802154;
	};

	leds {
		compatible = "gpio-leds";
		led_heart: led_heartbeat {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		};
		led_fault: led_fault {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		};

		// Battery bi-color LED 1
		led_batt_g1: led_batt_g1 {
			gpios = <&pca9538a 3 GPIO_ACTIVE_HIGH>;
		};

		led_batt_r1: led_batt_r1 {
			gpios = <&pca9538a 4 GPIO_ACTIVE_HIGH>;
		};

		// Battery bi-color LED 2
		led_batt_g2: led_batt_g2 {
			gpios = <&pca9538a 2 GPIO_ACTIVE_HIGH>;
		};

		led_batt_r2: led_batt_r2 {
			gpios = <&pca9538a 5 GPIO_ACTIVE_HIGH>;
		};

		// Remaining Battery LEDs
		led_batt_g3: led_batt_g3 {
			gpios = <&pca9538a 1 GPIO_ACTIVE_HIGH>;
		};

		led_batt_g4: led_batt_g4 {
			gpios = <&pca9538a 0 GPIO_ACTIVE_HIGH>;
		};

		// BLE Data LED
		led_data_blinkenlight: led_data_blinkenlight {
			gpios = <&pca9538b 0 GPIO_ACTIVE_HIGH>;
		};

		// SD Card Mounted LED
		led_sd_mounted: led_sd_mounted {
			gpios = <&pca9538b 1 GPIO_ACTIVE_HIGH >;
		};

		// Five Mode LEDs
		led_mode_off: led_mode1 {
			gpios = <&pca9538b 2 GPIO_ACTIVE_HIGH>;
		};

		led_mode_send: led_mode2 {
			gpios = <&pca9538b 3 GPIO_ACTIVE_HIGH>;
		};

		led_mode_receive: led_mode3 {
			gpios = <&pca9538b 4 GPIO_ACTIVE_HIGH>;
		};

		led_mode_receive_with_sensors: led_mode4 {
			gpios = <&pca9538b 5 GPIO_ACTIVE_HIGH>;
		};

		led_mode_demo: led_mode5 {
			gpios = <&pca9538b 6 GPIO_ACTIVE_HIGH>;
		};

		// GNSS Tricolor LED - red
		led_gnss_nofix: led_gnss_nofix_red {
			gpios = <&pca9538c 0 GPIO_ACTIVE_HIGH>;
		};

		// GNSS Tricolor LED - blue
		led_gnss_fix: led_gnss_fix_blu {
			gpios = <&pca9538c 2 GPIO_ACTIVE_HIGH>;
		};

		// GNSS Tricolor LED - green
		led_gnss_fusion: led_gnss_fusion_grn {
			gpios = <&pca9538c 1 GPIO_ACTIVE_HIGH>;
		};

		// BSM/PSM Bi-color LED
		led_bsm_grn: led_bsm_grn {
			gpios = <&pca9538c 3 GPIO_ACTIVE_HIGH>;
		};

		led_psm_red: led_psm_red {
			gpios = <&pca9538c 4 GPIO_ACTIVE_HIGH>;
		};

		// PHY LED
		led_phy: led_phy {
			gpios = <&pca9538c 5 GPIO_ACTIVE_HIGH>;
		};

		// Two DEMO Mode LEDs
		led_demo_1: led_demo_1 {
			gpios = <&pca9538c 6 GPIO_ACTIVE_HIGH>;
		};

		led_demo_2: led_demo_2 {
			gpios = <&pca9538c 7 GPIO_ACTIVE_HIGH>;
		};

	};

	switches {
		compatible = "gpio-keys";
		sw_mode_off: sw4_1 {
			gpios = <&pca9538d 7 GPIO_ACTIVE_LOW>;
		};

		sw_mode_send: sw4_2 {
			gpios = <&pca9538d 6 GPIO_ACTIVE_LOW>;
		};

		sw_mode_receive: sw4_3 {
			gpios = <&pca9538d 5 GPIO_ACTIVE_LOW>;
		};

		sw_mode_receive_with_sensors: sw4_4 {
			gpios = <&pca9538d 4 GPIO_ACTIVE_LOW>;
		};

		sw_mode_demo: sw4_5 {
			gpios = <&pca9538d 3 GPIO_ACTIVE_LOW>;
		};
	};


	// SD Card detect (physical switch in the SD card sled)
	sd_card_detection {
		compatible = "gpio-keys";
		sd_detect: sd_detectn {
			gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
		};
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	usb_serial_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

// i2c bitbang is all our low speed i2c
/{
	i2c_bitbang: i2c_bitbang {
		compatible = "gpio-i2c";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		sda-gpios = <&gpio1 2 (GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio1 3 (GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		pca9538a: pca9538@70 {
			compatible = "ti,tca9538";
			status = "okay";
			reg = <0x70>;
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <8>;
		};
		pca9538b: pca9538@71 {
			compatible = "ti,tca9538";
			status = "okay";
			reg = <0x71>;
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <8>;
		};
		pca9538c: pca9538@72 {
			compatible = "ti,tca9538";
			status = "okay";
			reg = <0x72>;
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <8>;
		};
		pca9538d: pca9538@73 {
			compatible = "ti,tca9538";
			status = "okay";
			reg = <0x73>;
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <8>;
		};

		lm75: lm75@48 {
			compatible = "lm75";
			status = "okay";
			reg = <0x48>;
		};

		eeprom_0: at24@51 {
			reg = <0x51>;
			compatible = "atmel,at24";
			status = "okay";
			size = <256>;
			pagesize = <16>;
			address-width = <8>;
			timeout = <4>;
		};
	};
};


// CV2X
//&uart1 {
//	status = "okay";
//	current-speed = <115200>;
//	pinctrl-0 = <&uart1_default>;
//	pinctrl-1 = <&uart1_sleep>;
//	pinctrl-names = "default", "sleep";
//};

// sd card
&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};
		// SPI2 max bit rate is 16Mbps (16MHz frequency)
		spi-max-frequency = <DT_FREQ_M(16)>;
	};
};

// LTE
lte_uart: &uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-1 = <&uart3_sleep>;
	pinctrl-names = "default", "sleep";
	//hw-flow-control;
};

// ublox
&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
	ublox: ublox@0 {
		compatible = "ublox,ubxlib-shim";
		reg = <0>;
		bus-num = <4>;
		bus-type = <0>; // 0 is spi, 1 is i2c
		module-type = <1>; // 0 is M8, 1 is M9, 2 is M10
	};
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};


&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 64K */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		/* 640K */
		slot0_partition: partition@10000 {
			label = "image-0";
		};
		/* 256K */
		slot0_ns_partition: partition@b0000 {
			label = "image-0-nonsecure";
		};

		// The flash starting at 0x000f8000 and ending at
		// 0x000fffff is reserved for use by the application.

		// Storage partition will be used by FCB/NVS
		// if enabled. 32K
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};



/ {
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram0_image: image@20000000 {
			/* Zephyr image(s) memory */
		};

		sram0_s: image_s@20000000 {
			/* Secure image memory */
		};

		sram0_ns: image_ns@20040000 {
			/* Non-Secure image memory */
		};
	};
};

/* Include partition configuration file */
#include "d2v_hdk4_cpuapp_partition_conf.dts"
