&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels =
            <NRF_PSEL(TWIM_SDA, 0, 4)>,
            <NRF_PSEL(TWIM_SCL, 0, 3)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels =
            <NRF_PSEL(TWIM_SDA, 0, 4)>,
            <NRF_PSEL(TWIM_SCL, 0, 3)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
	ublox: ublox@0 {
		compatible = "ublox,ubxlib-shim";
		reg = <0>;
		bus-num = <0>;
		bus-type = <1>; // 0 is spi, 1 is i2c
		module-type = <0>; // 0 is M8, 1 is M9, 2 is M10
	};
};

//If I don't do this, I get build errors like
// $zephyrRoot/ubxlib/port/platform/zephyr/src/u_port_spi.c:260: undefined reference to `__device_dts_ord_108'
// I think because of stuff like this:
// of pDevice = DEVICE_DT_GET_OR_NULL(DT_NODELABEL(spi3));

// spi0 not required to be disabled? Maybe it comes disabled.
&spi1 {
    status = "disabled";
};
&spi2 {
    status = "disabled";
};
&spi3 {
    status = "disabled";
};
