&pinctrl {
    spi4_default: spi4_default {
        group1 {
            psels =
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 31)>,
                    <NRF_PSEL(SPIM_SCK, 0, 19)>;
        };
    };

    spi4_sleep: spi4_sleep {
        group1 {
            psels =
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 31)>,
                    <NRF_PSEL(SPIM_SCK, 0, 19)>;
            low-power-enable;
        };
    };
};

// conflicts with spi4 pins
&uart0 {
	status = "disabled";
};

&spi4 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";
	ublox: ublox@0 {
		compatible = "ublox,ubxlib-shim";
		reg = <0>;
		bus-num = <4>;
		bus-type = <0>; // 0 is spi, 1 is i2c
		module-type = <1>; // 0 is M8, 1 is M9, 2 is M10
	};
};
